* {
	margin:0;
	text-decoration: none;
}
.clearfix{ overflow: auto; }
header {
	background: #008080;
	overflow: auto;
	padding: 10px;
}
.add {
	float: right;
	padding: 10px;
}
header .top {
	width: 50px;
	font-size: 19px;
	float: left;
	padding-top: 3px;
}
header .top a{
	color:black;
}
header .top a:hover {
	color:white;
}
.icon { 
	padding-right: 4px;
	float: left;
}

h1 {
	padding: 60px 200px 10px 5px;
	text-align: left;
}

table.masterlist {
	width: 100%;
	border-collapse: separate;
	border-color: black;
	border-left: 1px solid #aaa;
}

table.masterlist th {
	background-color: #4CAF50;
	text-align: left;
}

table.masterlist th, table.masterlist td {
	padding: 10px;
	border-bottom: 1px solid #aaa;
	border-left: 1px solid #aaa;
}



form.userform{
	margin: 20px 0px 25px 100px;
}


fieldset {
	margin-left: 100px;
	margin-right: 160px;
	margin-bottom: 0px;
}

form.userform label{
	width: 30%;
	float: left;
	font-size: 17px;
	padding: 4px;
}

form.userform input {
	width: 50%;
	height: 20px;
	padding: 4px;
	border-radius: 5px;
}

form.userform p{
	padding: 20px;
}